<div class = "main">

  <div class="left">
  left
  </div>

  <div class="center">
    <div class ="logo-image">

    </div>
     <%= image_tag "gazo2.jpg", class:"list-pict" %>
    <div>
      <%= link_to new_tweet_path do %>
        <p>作成する</p>
      <% end %> 
      <div class = "contents">
        <% @tweets.each do |tweet| %>

          <div class = "content">
            <%= link_to tweet_path(tweet) do %>
              <div>
                <%= image_tag tweet.image, class: "index-image" if tweet.image.attached? %>
                <p><%= tweet.car_name %></p>
              </div>
            <% end %>
          </div>

        <% end %>
      </div>
    </div>

  </div>

  <div class="right">
  right
  </div>

</div>