<div class="rental">

<div class ="rental-1">
  <%# レンタカー１ %>
  <div class ="table">
    <table border="1">
      <tr>
        <th>クラス</th><th>軽ーハコ</th><th>軽ートラック</th>
      </tr>
      <tr>
        <td>排気量</td><td>660cc</td><td>660cc</td>
      </tr>
      <tr>
        <td>イメージ</td><td><%= image_tag "hako.jpg", class:"rental-image" %></td><td><%= image_tag "keitora.jpg", class:"rental-image" %></td>
      </tr>
      <tr>
        <td rowspan="2">１日料金</td><td>4000円(会員価格)</td><td>4000円(会員価格)</td>
      </tr>
      <tr>
        <td>6100円(一般価格)</td><td>6100円(一般価格)</td>
      </tr>
      <tr>
        <td rowspan="2">３時間料金</td><td bgcolor="#ffffc0">900円(会員価格)</td><td bgcolor="#ffffc0">900円(会員価格)</td>
      </tr>
      <tr>
        <td>2150円(一般価格)</td><td>2150円(一般価格)</td>
      </tr>
      <tr>
        <td>１時間延長</td><td>1050円</td><td>1050円</td>
      </tr>
      <tr>
        <td rowspan="2">１日延長</td><td>4000円(会員価格)</td><td>4000円(会員価格)</td>
      </tr>
      <tr>
        <td>6100円(一般価格)</td><td>6100円(一般価格)</td>
      </tr>
    </table>
  </div>
  <%# レンタカー２ %>
  <div class ="table">
    <table border="1">
      <tr>
        <th>クラス</th><th>普通</th><th>普通７人〜</th>
      </tr>
      <tr>
        <td>排気量</td><td>1500cc</td><td>2400cc前後</td>
      </tr>
      <tr>
        <td>イメージ</td><td><%= image_tag "hutu.jpg", class:"rental-image" %></td><td><%= image_tag "miniban.jpg", class:"rental-image" %></td>
      </tr>
      <tr>
        <td rowspan="2">１日料金</td><td>9000円(会員価格)</td><td>6500円(会員価格)</td>
      </tr>
      <tr>
        <td>12000円(一般価格)</td><td>7000円(一般価格)</td>
      </tr>
      <tr>
        <td rowspan="2">３時間料金</td><td>2900円(会員価格)</td><td>2100円(会員価格)</td>
      </tr>
      <tr>
        <td>4200円(一般価格)</td><td>3150円(一般価格)</td>
      </tr>
      <tr>
        <td>１時間延長</td><td>2050円</td><td>1050円</td>
      </tr>
      <tr>
        <td rowspan="2">１日延長</td><td>9000円(会員価格)</td><td>6500円(会員価格)</td>
      </tr>
      <tr>
        <td>12000円(一般価格)</td><td>7000円(一般価格)</td>
      </tr>
    </table>
  </div>
</div>

<div class ="rental-2">
  <%# レンタカー3 %>
  <div class ="table">
    <table border="1">
      <tr>
        <th>クラス</th><th>普通車バン</th><th>EV車両・ハイブリッド</th>
      </tr>
      <tr>
        <td>排気量</td><td>3000cc〜</td><td>1500cc〜</td>
      </tr>
      <tr>
        <td>イメージ</td><td><%= image_tag "hiace.jpg", class:"rental-image" %></td><td><%= image_tag "puri.jpg", class:"rental-image" %></td>
      </tr>
      <tr>
        <td rowspan="2">１日料金</td><td>14000円(会員価格)</td><td>7000円(会員価格)</td>
      </tr>
      <tr>
        <td>17000円(一般価格)</td><td>10000円(一般価格)</td>
      </tr>
      <tr>
        <td rowspan="2">３時間料金</td><td>3160円(会員価格)</td><td>2800円(会員価格)</td>
      </tr>
      <tr>
        <td>3900円(一般価格)</td><td>3500円(一般価格)</td>
      </tr>
      <tr>
        <td>１時間延長</td><td>1500円</td><td>1000円</td>
      </tr>
      <tr>
        <td rowspan="2">１日延長</td><td>14000円(会員価格)</td><td>7000円(会員価格)</td>
      </tr>
      <tr>
        <td>17000円(一般価格)</td><td>10000円(一般価格)</td>
      </tr>
    </table>
  </div>
  <%# レンタカー4 %>
  <div class ="table">
    <table border="1">
      <tr>
        <th>クラス</th><th>普通車セダン</th><th>乗用車(８人〜</th>
      </tr>
      <tr>
        <td>排気量</td><td>1800cc〜</td><td>2000cc〜</td>
      </tr>
      <tr>
        <td>イメージ</td><td><%= image_tag "sedan.jpg", class:"rental-image" %></td><td><%= image_tag "step.jpg", class:"rental-image" %></td>
      </tr>
      <tr>
        <td rowspan="2">１日料金</td><td>10000円(会員価格)</td><td>10000円(会員価格)</td>
      </tr>
      <tr>
        <td>12000円(一般価格)</td><td>12000円(一般価格)</td>
      </tr>
      <tr>
        <td rowspan="2">３時間料金</td><td>3500円(会員価格)</td><td>2900円(会員価格)</td>
      </tr>
      <tr>
        <td>4200円(一般価格)</td><td>3300円(一般価格)</td>
      </tr>
      <tr>
        <td>１時間延長</td><td>1050円</td><td>1900円</td>
      </tr>
      <tr>
        <td rowspan="2">１日延長</td><td>10000円(会員価格)</td><td>10000円(会員価格)</td>
      </tr>
      <tr>
        <td>12000円(一般価格)</td><td>12000円(一般価格)</td>
      </tr>
    </table>
  </div>
</div>

<div class ="rental-3">
  <%# レンタカー5 %>
  <div class ="table">
    <table border="1">
      <tr>
        <th>クラス</th><th>特殊-軽</th><th>普通小型乗用車</th>
      </tr>
      <tr>
        <td>排気量</td><td>660cc</td><td>1300cc</td>
      </tr>
      <tr>
        <td>イメージ</td><td><%= image_tag "reizou.jpg", class:"rental-image" %></td><td><%= image_tag "hutu.jpg", class:"rental-image" %></td>
      </tr>
      <tr>
        <td rowspan="2">１日料金</td><td>8000円(会員価格)</td><td>5000円(会員価格)</td>
      </tr>
      <tr>
        <td>10000円(一般価格)</td><td>7000円(一般価格)</td>
      </tr>
      <tr>
        <td rowspan="2">３時間料金</td><td>3900円(会員価格)</td><td>2900円(会員価格)</td>
      </tr>
      <tr>
        <td>4900円(一般価格)</td><td>3300円(一般価格)</td>
      </tr>
      <tr>
        <td>１時間延長</td><td>1500円</td><td>1200円</td>
      </tr>
      <tr>
        <td rowspan="2">１日延長</td><td>8000円(会員価格)</td><td>5000円(会員価格)</td>
      </tr>
      <tr>
        <td>10000円(一般価格)</td><td>7000円(一般価格)</td>
      </tr>
    </table>
  </div>
  <%# レンタカー6 %>
  <div class ="table">
    <table border="1">
      <tr>
        <th>クラス</th><th>普通車-福祉</th><th>軽</th>
      </tr>
      <tr>
        <td>排気量</td><td>3000cc</td><td>660cc</td>
      </tr>
      <tr>
        <td>イメージ</td><td><%= image_tag "hukusi.jpg", class:"rental-image" %></td><td><%= image_tag "life.jpg", class:"rental-image" %></td>
      </tr>
      <tr>
        <td rowspan="2">１日料金</td><td>8000円(会員価格)</td><td>3800円(会員価格)</td>
      </tr>
      <tr>
        <td>10000円(一般価格)</td><td>4900円(一般価格)</td>
      </tr>
      <tr>
        <td rowspan="2">３時間料金</td><td>3900円(会員価格)</td><td bgcolor="#ffffc0">900円(会員価格)</td>
      </tr>
      <tr>
        <td>4900円(一般価格)</td><td>1900円(一般価格)</td>
      </tr>
      <tr>
        <td>１時間延長</td><td>1500円</td><td>1000円</td>
      </tr>
      <tr>
        <td rowspan="2">１日延長</td><td>8000円(会員価格)</td><td>3800円(会員価格)</td>
      </tr>
      <tr>
        <td>10000円(一般価格)</td><td>4800円(一般価格)</td>
      </tr>
    </table>
  </div>
</div>

</div>