<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mondai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="site-header">
      <div class ="left-header">
      header左
      </div>
      <nav class="gnav">
        <ul class="gnav__menu">
          <li class="gnav__menu__item"><a href="">トップページ</a></li>
          <li class="gnav__menu__item"><a href="">レンタカー</a></li>
          <li class="gnav__menu__item"><a href="">スタッフ紹介</a></li>
          <li class="gnav__menu__item"><a href="">問合せ</a></li>
          <li class="gnav__menu__item"><a href="">アネﾞデパミﾞ</a></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
    <footer class="site-footer">
        <p class="copyright">@2017 WEBDESIGNDAY</p>
    </footer>
  </body>
</html>
