<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="A-Line,中古車販売,大阪,東住吉区,住道矢田,レンタカー,バイク,保険">
    <title>A-Line 中古車販売 大阪市東住吉区住道矢田</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="boxA">
    <div class="boxA-inner">
      <div class="box1">
        <div class="site">
          <h1><a href="#">A-LINE Co.,Ltd.</a></h1>
        </div>
      </div>
      <div class="box2">
        <button type="button" id="menubtn">
          <i class="fas fa-bars"></i><span>MENU</span>
        </button>
        <nav class="menu" id="menu">
          <ul>
            <li><%= link_to tweets_path do %>ホーム<% end %></li>
            <li><%= link_to sales_tweets_path do %>中古車販売<% end %></li>
            <li><%= link_to rental_tweets_path do %>レンタカー<% end %></li>
            <li><%= link_to staff_tweets_path do %>スタッフ<% end %></li>
            <li><%= link_to about_tweets_path do %>店舗情報<% end %></li>
            <li><%= link_to new_contact_path do %>問合せ<% end %></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

    <%= yield %>

  <div class=" box5">
    <div class="box5-inner">
      <div class="copyright">
        <p>Copyright &copy; 1989 A-Line CO.,LTD.</p>
      </div>
    </div>
  </div>

  </body>
</html>
