<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A-Line</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="site-header">
      <div class ="left-header">
      <%= image_tag "gazo6.jpg", class:"logo" %>
      </div>
      <ul class="gnav__menu">
        <li class="gnav__menu__item"><%= link_to root_path, class:"menu" do %>トップページ<% end %></li>
        <li class="gnav__menu__item"><%= link_to rental_tweets_path, class:"menu" do %>レンタカー<% end %></li>
        <li class="gnav__menu__item"><%= link_to staff_tweets_path, class:"menu" do %>スタッフ紹介<% end %></li>
        <li class="gnav__menu__item"><%= link_to new_contact_path, class:"menu" do %>問合せ<% end %></li>
        <% if user_signed_in? %>
        <li class="gnav__menu__item"><%= link_to destroy_user_session_path, method: :delete, class:"menu" do %>ログアウト<% end %></li>
        <% else %>
        <li class="gnav__menu__item"><%= link_to new_user_session_path, class:"menu" do %>管理者専用<% end %></li>
        <% end %>
      </ul>
    </header>

    <div class = "main">
    <%= render "shared/left_side" %>

    <%= yield %>

    <%= render "shared/right_side" %>
    </div>

    <footer class="site-footer">
        <p class="copyright">@2020 IMSOHAPPY</p>
    </footer>
  </body>
</html>
