<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mondai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="site-header">
      <div class ="left-header">
      header左
      </div>
      <ul class="gnav__menu">
        <li class="gnav__menu__item"><%= link_to root_path do %>トップページ<% end %></li>
        <li class="gnav__menu__item"><%= link_to rental_tweets_path do %>レンタカー<% end %></li>
        <li class="gnav__menu__item"><%= link_to staff_tweets_path do %>スタッフ紹介<% end %></li>
        <li class="gnav__menu__item"><a href="">問合せ</a></li>
        <li class="gnav__menu__item"><a href="">管理者ページ</a></li>
      </ul>
    </header>
    <%= yield %>
    <footer class="site-footer">
        <p class="copyright">@2020 IMSOHAPPY</p>
    </footer>
  </body>
</html>
